<div class="author">
  <h1 class="author">welcome to da blog.</h1>
  <p class="author_body">CS Student / Software Dev</p>
</div>
<img class="hero-image" width="981" height="528" src="/img/self.jpg" alt="me" />

<section class="articles">
  <h2 class="articles_heading">Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list_date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>

  <% } %>
</section>
